/node_modules
/public/*/
/public/index.html
/public/hot
/public/storage
/storage/*.key
/resources/views/index.blade.php
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
